---
title: Home
description: We are passionated by Scala, DDD, CQRS and Event Sourcing.
image: https://source.unsplash.com/w7YCquMkv2c/2000x1000?a=.png
---

<section class="hero-lg" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				<span class="strongtyped">
		 		<span class="strong-light">Strong</span><span class="typed-light">[Typed]</span>
		 	</span>
			</h1>
			<p class="subtext editable">We are a team of highly skilled and experienced Scala developers</p>
		</div>
	</div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<p class="editable">
					Founded by the earliest Scala adopters in Belgium, <span class="strongtyped"><span class="strong">Strong</span><span class="typed">[Typed]</span></span>  brings together a team of highly skilled and experienced Scala consultants. 
				</p>
				<p class="editable">		
					We are specialized in developing applications based on Scala and the Reactive Programming principles. We build high quality projects for our customers and help their teams in getting up to speed with Scala and Reactive Programming through workshops and coaching sessions.
				</p>
				<p class="editable">
					At <span class="strongtyped"><span class="strong">Strong</span><span class="typed">[Typed]</span></span> , we believe in simplicity and technical excellence. We are pioneers of modern software development. Using statically typed languages and expressive code we build robust, error free and easy to maintain applications. 
				</p>
				</p>
			</div>
		</div>
	</section>
</div>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.blurb }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
