<div class="post-details">
	{% if page.author_staff_member != null %}
	<div class="author" style="float: left;">
		{% assign author_id = page.author_staff_member | prepend: "/staff_members/" | append: "/" %}
		{% assign author = site.staff_members | where: "url", author_id | first %}
		<div class="square-image" style="background-image: url('{% include relative-src.html src=author.image_path %}')"></div>
	</div>		
	{% endif %}	
	<div>
		<div class="post-meta">
			<div><strong>{{ author.name }}</strong></div>
			<div>{{ author.position }}</div>
			<div>{{ include.post.date | date: "%B %d, %Y" }}</div>
		</div>
		<div class="post-cat">
			<!-- {% for category in include.post.categories %}
				<span class="blog-filter">
					<a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category | capitalize }}</a>
				</span>
			{% endfor %} -->
			
		</div>
	</div>
	
</div>
