

.blog-posts {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1em;

	li {
		padding: 50px 0;
	}

	.blog-post {
		padding: 18px 0;

		&:first-child {
			padding-top: 50px;
		}

		.post-details {
			padding-top: 15px;

		}
	}
}



.blog-post {

	padding: 0;

	h3 {
		margin: 0;
		a {
			color: #000;
			text-decoration: none;
			font-weight: normal;
			font-size: 1.3em;
		}
	}

	h2 {
		text-align: left;
		font-size: 2.6em;
		margin: 0;
	}

	.post-details {

		border-bottom: 1px solid #eee;
		font-size: 1.1em;
		margin: 0;
		padding: 40px 0 10px 0;

		.author {
			margin-right: 10px;
			font-size: .8em;

			.square-image {
				width: 75px;
				height: 75px;
				margin: 0;
			}
		}

		.blog-filter {
			display: inline-block;
			text-align: left;

			a {
				position: relative;
				top: -5px;
			}
		}

		a {
			text-decoration: none;
		}

		.post-meta {
			line-height: 1.4em;

			.post-date {
				float: right;
			}

			margin-bottom: 20px;
		}

		

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.post-content {
		padding: 0 0 40px 0;

		.button {
			margin: 30px 0 0 0;
		}

		h1, h2, h3, h4, h5, h6, h7 {
			margin-top: 55px;
			margin-bottom: 15px;
		}
	}


	.post-details, p, h1, h2, h3, h4, h5, h6, h7, ul {
		max-width: $max-width;
	  margin: 0 auto;
	  margin-bottom:20px;

	  li {
	  	margin-left: 25px;
	  }
  } 


  .highlighter-rouge pre {
		
		display: block;
		background: $code-background;

		max-width: 100%;
  	padding: 0;

   	code {
  		max-width: $max-width;
	  	margin: 0 auto;
  	}
  }

}

.pagination {
	text-align: center;
}

.blog-filter {
	text-align: center;
	a {
		background: #eee;
    padding: 3px 5px;
    font-size: .8em;
    border-radius: 5px;
    color: #888;
		transition: .2s ease-in-out;

		&:hover {
			color: #555;
			text-decoration: none;
		}
	}
}

.blog-filter.cross a {
	padding-right: 8px;

	&:after {
		content: "x";
		font-size: .5em;
		position: relative;
		bottom: 4px;
		right: -3px;
	}
}

.change-category {
	margin: 0;
	padding: 30px 0;
}

.blog-navigation {
	font-size: 14px;
	display: block;
	width: auto;
	overflow: hidden;
	a {
		display: block;
		width: 50%;
		float: left;
		margin: 1em 0;
	}

	.next {
		text-align: right;
	}
}

.pagination {
	padding: 30px
}
