<div class="container">
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row  sitemap-footer">
			<div class="col-md-3">
				<dl>
			        <dt><a class="sitemap-link" href="{{ root_url }}/consulting">Consulting</a></dt>
			        <dd><a href="{{ root_url }}/consulting#mentoring">Mentoring</a></dd>
					<dd><a href="{{ root_url }}/consulting#devdep">Development</a></dd>
			    </dl>
			</div>
			<div class="col-md-3">
				<dl>
			        <dt><a href="{{ root_url }}/training">Training</a></dt>
			        <dd><a href="{{ root_url }}/training#seminars">Seminars</a></dd>
					<dd><a href="{{ root_url }}/training#workshops">Workshops</a></dd>
			    </dl>
			</div>
			<div class="col-md-3">
				<dl>
			        <dt><a href="{{ root_url }}/company">Company</a></dt>
					<dd><a href="{{ root_url }}/partners">Partners</a></dd>
					<dd><a href="{{ root_url }}/team">Team</a></dd>
					<dd><a href="mailto:info@strongtyped.io">Contact</a></dd>
			    </dl>
			</div>
			<div class="col-md-3">
				<dl>
					<dt>Social links</dt>
					<dd><a href="http://github.com/strongtyped">GitHub</a></dd>
					<dd><a href="http://twitter.com/strongtyped">Twitter</a></dd>
					<dd><a href="http://www.bescala.org">BeScala</a></dd>
				</dl>
			</div>
		</div>
	</div>
</div>
</div>