<!-- file: _includes/article_listing.html -->
<article>
  <h2><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  <p>
    {{ content | excerpt | markdownify }}
  </p>

  {% include post/metadata.html %}
  

  {% if excerpted == 'true' %}
    <a class="full-article-link pull-right" rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
  {% endif %}
  <div class="divider"></div>
</article>
