
// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com


$primary-color: #388CCE; // blue;
$secondary-color: #474747; //dark grey;


$bg-primary: $primary-color;
$bg-secondary: $secondary-color;

$bg-header: #FFFFFF;

$bg-content: #F7F7F7;
$bg-footer: #647DA1; //#2A699B;
$bg-main: #3C4C61;


$heading-font-color: #444444;



$link: $primary-color;

$link-hover: $primary-color;

/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
$base03:          #002B36; // darkest blue
$base02:          #073642; // dark blue
$base01:          #586E75; // darkest gray
$base00:          #657B83; // dark gray
$base0:           #839496; // medium gray
$base1:           #93A1A1; // medium light gray
$base2:           #F8F8F8; // light gray background
$base3:           #F8F8F8; // light gray background
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;