// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
  background-color: $secondary-color;
}

body, p {
  font-family: $sans;
  font-size: 1.2em;
}

body, .home-page, .home-field,  .article-list{
  font-size: 20px;
}

.content {
    background-color: $bg-content;
    padding-bottom: 50px;
}

.bg-light {
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

em {
  font-style: italic;
}

ul {
  list-style: disc;
  padding-left: 60px;
}

ol {
  list-style: decimal;
  padding-left: 70px;
}

.navigation {
  float: right;
  margin-right: 50px;
}

.container-primary {
  background-color: $bg-primary;
  color: #FFFFFF;
}

.container-light {
  background-color: #FFFFFF;
  border-bottom: 1px solid $primary-color;
  border-top: 1px solid $primary-color;
}

.container-dark {
  background-color: $bg-main;
  color: #FFFFFF;
  > h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
  }
}

.centered {
  text-align: center;
}

.banner {
  font-family: $heading-font-family;

  > h1 {
    font-style:italic;
    font-size : 3em;
  }
  > h2 {
    font-size : 2em;
    color: $secondary-color;
  }

}

.intro {
   margin-top:40px;
   margin-bottom:5px;
   line-height: 1.5;

   > p {
    margin-bottom:35px;
   }
}

.img-circle {
  border-radius: 50%;
}

.bio {
  text-align: left;
  font-size: 1em;
}

.short-profile {
  padding-bottom: 80px;
}

.social {
  font-size: 35px;
  text-align: center;
  letter-spacing: 15px;
  padding-bottom: 80px;
}

.home-page {
  margin-top: 0px;
}

a {
  color: $link;
}

a:hover {
  color: $link-hover;
}

.footer-row {
  
  padding-top:  20px;
  // color: #FFFFFF;
  background-color: $bg-footer; 

  h3 {
    color: #FFFFFF;
    text-transform: uppercase;
  }

  a {
    color: #FFFFFF;
    text-decoration:none
  }

  li {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    margin: 10px;
    vertical-align: middle;
  }
  dd {
    padding-left: 15px;
  }
}

.navbar {
  /*padding: 55px 80px;*/
}

.navbar-fixed-top {
  height: 65px;
  text-align: left;
  background-color:$bg-header;

  border-bottom: 1px solid $primary-color;
  z-index:1000;

  > h1 {
    font-size: 35px;
    font-family: $heading-font-family;
    font-style:italic;
    font-weight: 800;
    color: $heading-font-color;
    margin-top: -30px;
    margin-bottom: 0px;

    > a {
      color: $heading-font-color;
    }
    > a:hover {
      color: $heading-font-color;
      text-decoration:none
    }
  }

  > .container {
    vertical-align: bottom;
  }
}

.full-single-article {
  padding-top:10px;
}

.navbar-right {
  font-family: $heading-font-family;

  .inactive {
    font-weight:500;
    font-style:italic;  
    color: $primary-color;
    padding-left: 1em;
    padding-right: 1em;
  }  
  
  .active {
    font-weight: 500;
    font-style:italic;
    color: $secondary-color;
  }  

  .active::after {
    content: "]";
  }
  
  .active::before {
    content: "[";
  }


  > a:hover {
    text-decoration:none;
    font-weight: 500;
    font-style:italic;
    color: $secondary-color;
  }

}

.strongtyped {
  font-style:italic;
  font-family: $heading-font-family;
  > a:hover {
    text-decoration:none
  }

  
  .strong {
    font-weight:bold;
    color: $primary-color;
  }


  .typed {
    font-weight: 500;
    color: $secondary-color;
  }

}

h1 .strongtyped {
  margin-top:40px;
  margin-bottom:40px;
  font-size: 1.2em;
  font-weight:bold;
  color: $primary-color;
}

.navbar {
    margin-left: 100px;
}

.list-title h4 {
  float: right;
  text-transform: none;
}




// articles
article {
  
  font-size: 1.2em;

  .meta {
    color: $primary-color;
  }

  h1 {
    font-family: $heading-font-family;
    font-style:italic;

  }

  .page-content {
    padding-left: 20px;
  }

  h2 {
    padding-top: 20px;
    font-style:italic;
  }
}

.article-list {
  background-color: $bg-content;
  padding-top: 10px;
}


.article-list article {
  h2 {
    font-family: $heading-font-family;
    font-style:italic;

    > a {
      color : $secondary-color;
      font-weight: 300;
    }

    > a:hover {
        text-decoration:none
    }
  }
}


.divider {
  width: 70%;
}
.divider-large {
  width: 90%;
  // margin-top: 35;
  // margin-bottom: 85px;
}


.sitemap-footer {

  margin-top: 40px;
  color: #FFFFFF;

  li {
    margin-right: 140px;
  }

  dd {
    padding-left: 15px;
  }
  a {
      text-decoration:none;
      color: #FFFFFF;
  }

}
